<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div th:fragment="posts(posts)">

  <div class="posts_wrapper">
    <div class="post" th:each="post : ${posts}">
      <h5 class="create-date" th:text="'Create by ' + ${post.user.username} + ' on ' + ${#dates.format(post.creationDate, 'yyyy MMMM dd')}">Creation date and by whom</h5>
      <h2><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Title</a></h2>
      <div class="img" alt="Main pic"></div>
      <p th:text="${post.body}">body text</p>
      <br>
    </div>
  </div>

</div>

</div>
</body>
</html>